In [ ]:
input("Enter first number")
input("Enter Second number")

Enter first number21
Enter Second number22

'22'

In [ ]:
num1 = input("Enter first number")
num2 = input("Enter Second number")

Enter first number21
Enter Second number22

In [ ]:
print(num1, num2)

21 22

In [ ]:
print(num1, num2, 10, 11 , 12 )

21 22 10 11 12

In [ ]:
type(num1)

str

In [ ]:
int(num1)

21

In [ ]:
num1 = int(num1)

In [ ]:
type(num1)

int

In [ ]:
type(int(num1))

int

In [ ]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter Second number"))

Enter first number21
Enter Second number22

In [ ]:
type(num1)

int

In [ ]:
op = input("Enter Operation (+,-,/, *):")

Enter Operation (+,-,/, *):+

In [ ]:
print(op)

+

In [ ]:
2 + 3

5

In [ ]:
num1 op num2

SyntaxError: invalid syntax (<ipython-input-16-6ade715c0bcd>, line 1)

In [ ]:
num1 + num2

43

In [ ]:
res = num1 + num2

In [ ]:
res

43

In [ ]:
if op == '+' :
  res = num1 + num2

print(res)

43

In [ ]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter Second number"))
op = input("Enter Operation (+,-,/, *):")

res = None
if op == '+' :
  res = num1 + num2
elif op =="-":
  res = num1 - num2 22
elif op == "*":
  res = num1 * num2
elif op == "/":
  res = num1 / num2
else:
  print("Invalid operator entered")

print(res)

Enter first number21
Enter Second number22
Enter Operation (+,-,/, *):/
0.9545454545454546

In [ ]:
def get_input():
  num1 = int(input("Enter first number"))
  num2 = int(input("Enter Second number"))
  return num1, num2

In [ ]:
num1, num2 = get_input()
op = input("Enter Operation (+,-,/, *):")

res = None
if op == '+' :
  res = num1 + num2
elif op =="-":
  res = num1 - num2
elif op == "*":
  res = num1 * num2
elif op == "/":
  res = num1 / num2
else:
  print("Invalid operator entered")

print(res)

Enter first number7
Enter Second number8
Enter Operation (+,-,/, *):+
15

In [ ]:
def do_calc(n1, n2, op):
  res = None
  if op == '+' :
    res = n1 + n2
  elif op =="-":
    res = n1 - n2
  elif op == "*":
    res = n1 * n2
  elif op == "/":
    res = n1 / n2
  else:
    print("Invalid operator entered")

  return res

In [ ]:
num1, num2 = get_input()
op = input("Enter Operation (+,-,/, *):")

res = do_calc(num1, num2, op)

res

Enter first number10
Enter Second number20
Enter Operation (+,-,/, *):*

200

In [ ]:
x = True

In [ ]:
type(x)

bool

In [ ]:
x = 0

if x :
  print("X has true value")
else:
  print("X has false value ")

X has false value

In [ ]:
x = ''

if x :
  print("X has true value")
else:
  print("X has false value ")

X has false value

In [ ]:
x = -50

if x :
  print("X has true value")
else:
  print("X has false value ")

X has true value

In [ ]:
x = "shubham"
x * "chauhan"

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
"shubham" * 3

'shubhamshubhamshubham'

In [ ]:
"Shubbham" +  3

TypeError: can only concatenate str (not "int") to str

In [ ]:
"Shubbham" +  str(4)

'Shubbham4'

* List : [ ]
* String : ' ', " ", ''' ''', """  """
* Tuple : (  )

In [ ]:
myList = [ "ashutosh", "23", "good boy", 10000, True]

In [ ]:
print(myList)

['ashutosh', '23', 'good boy', 10000, True]

In [ ]:
len(myList)

5

In [ ]:
myStr  = "Ashutosh"

In [ ]:
print(myStr)

Ashutosh

In [ ]:
display(myStr)

'Ashutosh'

In [ ]:
len(myStr)

8

In [ ]:
myTuple = (10, 20, 'hello')

In [ ]:
print(myTuple)

(10, 20, 'hello')

In [ ]:
len(myTuple)

3

# Indexing and Slicing

In [ ]:
myList[0]

'ashutosh'

In [ ]:
myList[-1]

True

In [ ]:
print(myStr[0], myStr[-1])

A h

In [ ]:
print(myTuple[0], myTuple[-1])

10 hello

In [ ]:
myList

['ashutosh', '23', 'good boy', 10000, True]

In [ ]:
myList[]

SyntaxError: invalid syntax (<ipython-input-29-109997e7714c>, line 1)

In [ ]:
myList[:]

['ashutosh', '23', 'good boy', 10000, True]

In [ ]:
myList[2:]

['good boy', 10000, True]

In [ ]:
myList[2:4]

['good boy', 10000]

In [ ]:
myList[0:4]

['ashutosh', '23', 'good boy', 10000]

In [ ]:
myList[5]

IndexError: list index out of range

In [ ]:
myList[:5]

['ashutosh', '23', 'good boy', 10000, True]

In [ ]:
myList[5:5]

[]

In [ ]:
myList[0:5]

['ashutosh', '23', 'good boy', 10000, True]

In [ ]:
myList[0:5:2]

['ashutosh', 'good boy', True]

In [ ]:
myList[0:5:-1]

[]

In [ ]:
myList[5:-1:-1]

[]

In [ ]:
myList[5::-1]

[True, 10000, 'good boy', '23', 'ashutosh']

In [ ]:
myList[::-1]

[True, 10000, 'good boy', '23', 'ashutosh']

In [ ]:
myStr[::-1]

'hsotuhsA'

In [ ]:
myList[0] = "Narayan"
print(myList)

['Narayan', '23', 'good boy', 10000, True]

In [ ]:
myStr[0] = "K"

TypeError: 'str' object does not support item assignment

In [ ]:
myList.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
sorted(myStr)

['A', 'h', 'h', 'o', 's', 's', 't', 'u']

In [ ]:
myList = ["Ashutosh", "works", "very","hard"]
" ".join(myList)

'Ashutosh works very hard'

In [ ]:
",".join(myList)

'Ashutosh,works,very,hard'

In [ ]:
"ashutosh works hard".split()

['ashutosh', 'works', 'hard']

In [ ]:
"ashutosh works hard".split('h')

['as', 'utos', ' works ', 'ard']

In [ ]:
Certainly! Here are the 20 Python questions formatted in Markdown:

### Variables and Data Types

1. **Variable Declaration and Printing:**
   - Declare two variables `a` and `b` with values 5 and 3 respectively. Print their sum.

2. **Type Conversion:**
   - Convert the variable `a` (from the previous question) into a float and print its type.

3. **String Variables:**
   - Create a variable `name` with your name as a string. Print a greeting message using concatenation.

4. **Boolean Variables:**
   - Create a variable `is_student` and set it to `True`. Print a message based on its value.

5. **Multiple Assignment:**
   - Use multiple assignment to swap the values of `a` and `b` from question 1 without directly using temporary variables.

### Functions

6. **Function Definition:**
   - Define a function `multiply` that takes two parameters and returns their product.

7. **Function Call:**
   - Call the `multiply` function from question 6 with arguments 4 and 7, then print the result.

8. **Default Argument:**
   - Modify the `multiply` function to have a default second parameter of 1. Call it with a single argument and verify the result.

9. **Global vs Local Scope:**
   - Define a variable `global_var` outside any function. Inside a function, declare a variable `local_var` and try to access `global_var`. Explain the result.

10. **Returning Multiple Values:**
    - Define a function `calculate` that takes two integers as parameters and returns their sum and difference as a tuple. Call the function and unpack the returned values.

### Strings

11. **String Length:**
    - Create a string variable `sentence` with a sentence of your choice. Print its length.

12. **String Slicing:**
    - Use slicing to print the first 3 characters, last 3 characters, and middle characters of the `sentence` from question 11.

13. **String Methods:**
    - Convert the `sentence` to uppercase and print it.

14. **String Concatenation:**
    - Create two string variables `str1` and `str2`. Concatenate them and print the result.

15. **String Formatting:**
    - Use f-strings to print a message using variables `name` and `age` (both defined earlier).

### Lists

16. **List Creation:**
    - Create a list `numbers` containing the first 5 even numbers. Print the list.

17. **List Indexing:**
    - Print the third element of the `numbers` list from question 16.

18. **List Manipulation:**
    - Add two more numbers (6 and 8) to the `numbers` list from question 16. Print the modified list.

19. **List Slicing:**
    - Use slicing to print the first 3 elements and last 2 elements of the `numbers` list.

20. **List Methods:**
    - Remove the first element from the `numbers` list and print the updated list.


### Variables and Data Types

1. **Variable Declaration and Printing:**
   - Declare two variables `a` and `b` with values 5 and 3 respectively. Print their sum.

2. **Type Conversion:**
   - Convert the variable `a` (from the previous question) into a float and print its type.

3. **String Variables:**
   - Create a variable `name` with your name as a string. Print a greeting message using concatenation.

4. **Boolean Variables:**
   - Create a variable `is_student` and set it to `True`. Print a message based on its value.

5. **Multiple Assignment:**
   - Use multiple assignment to swap the values of `a` and `b` from question 1 without directly using temporary variables.

### Functions

6. **Function Definition:**
   - Define a function `multiply` that takes two parameters and returns their product.

7. **Function Call:**
   - Call the `multiply` function from question 6 with arguments 4 and 7, then print the result.

8. **Default Argument:**
   - Modify the `multiply` function to have a default second parameter of 1. Call it with a single argument and verify the result.

9. **Global vs Local Scope:**
   - Define a variable `global_var` outside any function. Inside a function, declare a variable `local_var` and try to access `global_var`. Explain the result.

10. **Returning Multiple Values:**
    - Define a function `calculate` that takes two integers as parameters and returns their sum and difference as a tuple. Call the function and unpack the returned values.

### Strings

11. **String Length:**
    - Create a string variable `sentence` with a sentence of your choice. Print its length.

12. **String Slicing:**
    - Use slicing to print the first 3 characters, last 3 characters, and middle characters of the `sentence` from question 11.

13. **String Methods:**
    - Convert the `sentence` to uppercase and print it.

14. **String Concatenation:**
    - Create two string variables `str1` and `str2`. Concatenate them and print the result.

15. **String Formatting:**
    - Use f-strings to print a message using variables `name` and `age` (both defined earlier).

### Lists

16. **List Creation:**
    - Create a list `numbers` containing the first 5 even numbers. Print the list.

17. **List Indexing:**
    - Print the third element of the `numbers` list from question 16.

18. **List Manipulation:**
    - Add two more numbers (6 and 8) to the `numbers` list from question 16. Print the modified list.

19. **List Slicing:**
    - Use slicing to print the first 3 elements and last 2 elements of the `numbers` list.

20. **List Methods:**
    - Remove the first element from the `numbers` list and print the updated list.


1. **String Length:**
   - Create a string variable `text` with a sentence of your choice. Print its length.

2. **String Case Conversion:**
   - Convert the `text` variable from question 1 to uppercase. Print the result.

3. **String Concatenation:**
   - Create two string variables `str1` and `str2`. Concatenate them and print the result.

4. **Substring Check:**
   - Check if the substring `'Python'` is present in the string `text` from question 1. Print `True` or `False`.

5. **String Splitting:**
   - Split the `text` from question 1 into a list of words. Print the list.

6. **String Joining:**
   - Create a list of words `words = ['Hello', 'world', '!']`. Join them into a single string with spaces in between. Print the result.

7. **String Stripping:**
   - Create a string with leading and trailing spaces. Use a string method to remove these spaces and print the cleaned string.

8. **String Replacement:**
   - Replace all occurrences of the substring `'old'` with `'new'` in the string `'old example text'`. Print the modified string.

9. **String Counting:**
   - Count the number of occurrences of the letter `'a'` in the string `text` from question 1. Print the count.

10. **String Formatting:**
    - Use f-strings to format a message using variables `name` and `age`. Print a message like `"Hello, my name is [name] and I am [age] years old."`

In [ ]:
myList = ["Apple", "Banana", "guava"]

for _ in range(3):
  print(_)

0
1
2

In [ ]:
myList = ["Apple", "Banana", "guava"]

for _ in myList:
  print(_)

Apple
Banana
guava

In [ ]:
myList = ["Apple", "Banana", "guava"]

for fruit in myList:
  print(fruit)

Apple
Banana
guava